<footer>
    <div>Βρείτε μας στα social media</div>
    <div class="social-media">
      <a href="#"><img src="/images/fb.jpg" alt="facebook page" class='social-img'></a>
      <a href="#"><img src="/images/insta.jpg" alt="instagram page" class='social-img'></a>
      <a href="#"><img src="/images/twitter.jpg" alt="twitter page" class='social-img'></a>
    </div>

</footer>