      <ul>
        <h4>ΨΑΧΝΩ ΓΙΑ...</h4>
        <li>
          <img src="/images/side-menu-icons/new.png">
          <a href="/newbooks">Νέες Κυκλοφορίες</a>
        </li>
        <li>
          <img src="/images/side-menu-icons/best_seller.png">
          <a href="/bestsellers">Best sellers</a>
        </li>
        <li>
          <img src="/images/side-menu-icons/sales.png">
          <a href="/sales">Προσφορές</a>
        </li>
        <li>
          <img src="/images/side-menu-icons/ebook.png">
          <a href="/ebooks">E-Books</a>
        </li>
        <li>
          <img src="/images/side-menu-icons/awards.png">
          <a href="/awarded">Βιβλία με βραβεύσεις</a>
        </li>
      </ul>
      