 <div id="slideshow">
    <a href="#">
      <div class="slide">
        <img class="slide-background" src="/images/db-images/9789600368680.jpg">
        <img src="/images/db-images/9789600368680.jpg" class="slide-book">
        <div class="slide-text">
          <div>Ένα συναρπαστικό μυθιστόρημα
            που μας ταξιδεύει στην Κηφισιά του ’50 και του ’60.</div>
          <br>
          <div class="subtext"></div>
        </div>
        <div class="get-it-btn"><button>Απόκτησέ το!</button></div>
      </div>
    </a>
    <a href="#">
      <div class="slide">
        <img class="slide-background" src="/images/db-images/9786180133240.jpg">
        <img src="/images/db-images/9786180133240.jpg" class="slide-book">
        <div class="slide-text">
          <div>Το δεύτερο βιβλίο της επιτυχημένης σειράς "Η τριλογία της διασποράς"</div>
          <br>
          <div class="subtext">ΤΟ ΔΑΚΡΥ ΤΟΥ ΧΡΙΣΤΟΥ</div>
        </div>
        <div class="get-it-btn"><button>Απόκτησέ το!</button></div>
      </div>
    </a>
    <div id="pos-div"></div>
  </div>
