<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | ΕΚΔΟΣΕΙΣ TraBOOKos</title>
  <link href="/stylesheets/admin-style.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="/images/icon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav id="admin-nav">
      <a href="/" id="logo">
        <img class="logo_img" src="/images/trabookos_book.png" alt="Publishing house logo">
      </a>
      <ul>
        <li>
          <a {{#if adminPosts}} id="selected" {{/if}} href="/posts">Δημοσιεύσεις</a>
        </li>
        <li>
          <a {{#if adminUsers}} id="selected" {{/if}} href="/admins">Διαχειριστές</a>
        </li>
        <li>
          <a {{#if adminBooks}} id="selected" {{/if}} href="/admin/books">Βιβλία</a>
        </li>
      </ul>
    </nav>

  <main>
    {{{body}}}
  </main>
  <footer>
    <div>
      <a href="/">Κεντρική Σελίδα</a>
    </div>
  </footer>
  <script src="/javascripts/admin.js"></script>
  <script src="/javascripts/users.js"></script>
</body>

</html>