<!DOCTYPE html>
<html lang='el'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Εκδόσεις TraBOOKos</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/main-style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/slideshow.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="/images/icon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
<button id="top-btn"><i class="fa fa-caret-up"></i></button>
<script src="/javascripts/main.js"></script>
</body>

</html>
