<section class="admin-post">
    <h3 class="centered">Διαχειριστείτε τα βιβλία που θα εμφανίζονται</h3>
    <table class="admin-table">
    <tr>
        <th>N</th>
        <th>Τίτλος</th>
        <th>ISBN</th>
        <th >Ενέργεια</th>
    </tr>
    {{#each books}}
    <tr>
        <td>{{this.book_id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.ISBN}}</td>
        <td><button class='delete'><img src='/images/delete_icon.png'></img></button></td>
    </tr>
    {{/each}}
    </table>
  
</section>
      <div class='admin-buttons'>
        <button id='btnNew-Book'>Εισάγετε βιβλίο</button>
      </div>
      <section>
        <div class="PopUpForm not-displayed">
          <div>	<button title="Close" class="close-btn">&times;</button>
            <div class="container">
              <form class="admin-form" action="#">
                  <div class="title">Εισαγωγή βιβλίου</div>
                  <div class="FlexInput">
                      <label>
                        Τίτλος
                        <input type="text" name="title" required>
                      </label>
                      <label>
                        Ξενόγλωσσος τίτλος (προαιρετικά)
                        <input type="text" name="title">
                      </label>
                  </div>
                  <div class="FlexInput">
                      <label>ISBN
                        <input type="text" name="isbn" required>
                      </label>
                      <label>Σελίδες
                        <input type="number" name="pages" value='1' min=1>
                      </label>
                  </div>
                  <br>
                  <label for="summary">Περίληψη</label>
                  <textarea id='summary' placeholder="Πληκτρολογείστε το κείμενο σας..." rows="5" required></textarea>
                  <div id='Ebookbtns' class="title">
                    <button type='button' class="ebookbtn">&lt;</button>
                    <span>Ebook</span>
                    <button type='button' class="ebookbtn">&gt;</button>
                  </div>
                  <div class='book-properties not-displayed'>
                    <div class="FlexInput">
                      <label>Διαστάσεις (προαιρετικά)
                        <input type="text" name="dimentions">
                      </label>
                      <label>Βάρος (προαιρετικά)
                        <input type="text" name="weight">
                      </label>
                    </div>
                    <div class="FlexInput">
                      <label>Έκδοση (προαιρετικά)
                        <input type="text" name="ekdosh">
                      </label>
                      <label>Δέσιμο (προαιρετικά)
                        <input type="text" name="desimo">
                      </label>
                    </div>
                      <label>Απόθεμα (προαιρετικά)
                        <input type="number" name="apothema" value="0" min=0>
                      </label>
                  </div>
                  <label>Διαθεσιμότητα
                    <input type="text" name="availability" required>
                  </label>
                  <div class="FlexInput">
                      <label>Τιμή
                        <input type="text" name="price" required>
                      </label>
                      <label>Έκπτωση
                        <input type="number" value="0" name="discount" min=0 max=100 step=5 required>
                      </label>
                  </div>
                  <div class="FlexInput">
                      <label>Εικονογράφος (προαιρετικά)
                        <input type="text" name="illustrator">
                      </label>
                      <label>Επιμέλεια (προαιρετικά)
                        <input type="text" name="epimeleia">
                      </label>
                  </div>
                  <div class="FlexInput">
                      <label>Μετάφραση (προαιρετικά)
                        <input type="text" name="translator">
                      </label>
                      <label>Έτος έκδοσης (προαιρετικά)
                        <input type="text" name="year">
                      </label>
                  </div>
                  <div class="FlexInput">
                      <label>Γλώσσα
                        <input type="text" name="lang" required>
                      </label>
                      <label>Γλώσσα πρωτοτύπου (προαιρετικά)
                        <input type="text" name="original_lang">
                      </label>
                  </div>
                  <div class="FlexInput">
                      <label>Ηλικιακό γκρουπ (προαιρετικά)
                        <input type="text" name="age">
                      </label>
                      <label>Κατηγορία
                        <input type="text" name="category" required>
                      </label>
                    </div>
                  <div class="FlexInput">
                      <label>Λογοτεχνική σειρά (προαιρετικά)
                        <input type="text" name="series">
                      </label>
                      <label>Αρίθμηση(προαιρετικά)
                        <input type="number" value="0" name="SeriesNum" min=0 step=1>
                      </label>
                    </div>
                  <br>
                  <label>Βραβεία (προαιρετικά)
                    <input type="text" name="awards">
                  </label>
                  <br>
                  <label for="img">Εικόνα εξωφύλλου:</label>
                  <input type="file" id="input-img" name="input-img" accept="image/*" required>
                  <div id='submit'>
                    <input type="submit">
                  </div>
              </form>
            </div>
          </div>
        </div>
      </section>