    <article>
        <h1>
            Λίγα λόγια για εμάς
        </h1>
            <p class="pretty"> 
                Οι εκδόσεις TraBOOKos είναι ένας καινούριος εκδοτικός οίκος με γεωγραφική βάση την Πάτρα. 
                Αναπτύσσεται ταχύτατα από το 2020 και έχει σκαρφαλώσει ήδη στους κορυφαίους εκδοτικούς οίκους με βάση την προτίμηση των αναγνωστών.
            </p>
            <h4>Επιχειρηματικοί στόχοι </h4>
            <p>
            Στόχος μας είναι η επιμόρφωση και η ψυχαγωγία του ελληνικού αναγνωστικού κοινού. Δραστηριοποιούμαστε 
            σε λογοτεχνικά έργα σύχρονων Ελλήνων, αλλά και ξένων συγγραφέων, εμπλουτίζοντας συνεχώς τους καταλόγους μας. Προσπαθούμε να αναδείξουμε
            νέα ταλέντα μέσω διαγωνισμών, ενώ επίσης διοργανώνουμε εκδηλώσεις και βιβλιοπαρουσιάσεις. 
            </p>
    </article>